main{
    display: grid;
    grid-template-columns: 2fr;
    justify-content: left;
    width: 750px;
    margin-left: 100px;
}

.upload_resume{
    width: 300px;
    grid-column: 1/2;
    
}

.jobDesc{
    width: 300px;
    grid-column: 2/3;
}

.button{
    grid-column: 1/3;
}

#jobDesc{
    width: 400px;
    height: 200px;
}